---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead,
.greedy-nav {
  background-color: #4F4F4F;
  font-family: "Consolas", monospace;
  font-weight: bold;
  text-transform: none;
}

.greedy-nav .visible-links a:before {
  background-color: #10A63F;
}

.greedy-nav .site-title {
  display: none;
}

.greedy-nav .site-logo span {
  display: table-cell;
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.masthead a,
.masthead a:visited {
  background-color: #4F4F4F;
  color: #FAFAFA;
}

.masthead a:hover {
  color: #10A63F;
}

.search__toggle {
  color: #FAFAFA;
}

.search__toggle:hover {
  color: #10A63F;
}

.navicon,
.navicon:before,
.navicon:after,
.greedy-nav__toggle:hover .navicon,
.greedy-nav__toggle:hover .navicon:before,
.greedy-nav__toggle:hover .navicon:after {
  background: #FAFAFA;
}

.greedy-nav__toggle:hover.close .navicon:before,
.greedy-nav__toggle:hover.close .navicon:after {
  background: #10A63F;
}

.blinking-cursor {
  color: #FAFAFA;
  animation: blink 1s step-start infinite;
  font-family: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.u-photo,
.sidebar .author__name {
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-family: "Consolas", Courier, monospace;
}

.sidebar p, .sidebar li {
  text-align: center;
  font-family: "Consolas", Courier, monospace;
}

.page__content {
  color: #646769;
  text-align: justify;
}

.page__title {
  color: #646769;
  margin-top: 1em;
}

h1 {
  font-size: 1.3rem
}

.author__avatar {
  vertical-align: top;
  width: auto;
  height: auto;
  min-width: 55px;
}

.author__urls-wrapper {
  vertical-align: top;
}

@media (min-width: 64em) {
  .sidebar.sticky {
    overflow-y: unset;
  }
  .sidebar__right {
    top: -60px;
  }
  .sticky {
    position: relative;
  }
  .page__related {
    float: inline-start;
  }
}

a,
a::before,
a:visited {
  color: #4F4F4F;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.archive__item-title,
.comment__date,
.page__meta,
.page__footer-copyright,
.page__footer-follow li,
.toc {
  font-family: "Consolas", Courier, monospace;
}

.toc .nav__title,
.nav__title {
  background: #4F4F4F;
  font-family: "Consolas", Courier, monospace;
}

a:hover,
.toc__menu a:hover,
.page__taxonomy-item:hover {
  color: #10A63F;
}

.layout--single .page {
  width: 100%;
}

.layout--page .page {
  padding-inline-end: 0px;
}

@media (min-width: 80em) {
  .page__content {
    width: auto;
  }
  .archive {
    padding-inline-end: 0px;
  }
}

@media (min-width: 64em) {
  .archive {
      padding-inline-end: 0px;
  }
}

.archive {
  margin-top: 0em;
}

.social-icons {
  display: flex;
  align-items: center;
}
.social-icons li:last-child {
  margin-left: auto;
}
.social-icons li:last-child img {
  height: 40px;
}