---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.site-header {
  background-color: #4F4F4F;
}

.site-title {
  font-family: Consolas, monospace;
  font-weight: normal;
  font-size: 1.6rem;
  text-transform: none;
}

.masthead a,
.masthead a:visited {
  color: #FAFAFA;
}

.masthead a:hover {
  color: #10A63E;
}
